# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# PyInstaller
build/
dist/

# Environnements virtuels
venv/
.venv/
env/
.env

# Dossier de sortie du projet
Output/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.dbq

#ignorés les sessions
sessions/