# Install with: pip install -r requirements.txt

# GUI Framework
customtkinter>=5.2.0

# Build tool (for creating .exe)
pyinstaller>=6.0.0
# MongoDB
pymongo>=4.0.0

# Data Validation
pydantic>=2.0.0
email-validator>=2.0.0

# Graphing
matplotlib>=3.7.0
